<div class="single-post">
  <div class="featured-image">
    <img
      src="https://images.pexels.com/photos/10647543/pexels-photo-10647543.jpeg"
      alt=""
    />
    <h3>Title</h3>
  </div>
  <div class="content">
    <div class="left">
      <div class="post-info">
        <span><b>Author:</b> Lester</span>
        <span><b>Posted On:</b> 1/1/2022</span>
      </div>
      <div class="post-content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint officia
          nam amet minima aliquid! Vel odio aut repellendus, illo excepturi
          deleniti illum distinctio quod quis eum facere itaque eaque alias iure
          molestias error temporibus beatae doloribus, reiciendis voluptatum
          eius nisi! Quam, iure ducimus dolore impedit unde aut ipsum quidem
          praesentium tempora, reiciendis sequi rem consequuntur culpa
          accusantium ratione ipsa, est porro laudantium. Quidem repellendus
          nisi voluptatem voluptatum provident impedit iure eaque unde
          voluptates fuga, eius ea odio atque vel quasi non! Assumenda culpa
          molestias voluptatibus voluptatem suscipit nihil quidem libero
          facilis, placeat similique vel iste, cum minima nobis natus facere?
        </p>
      </div>
    </div>
    <div class="right">
      <app-category-list-widget></app-category-list-widget>
      <app-related-post></app-related-post>
      <app-related-post></app-related-post>
      <app-related-post></app-related-post>
    </div>
  </div>
</div>
