<div class="single-post" *ngIf="post$ | async as post">
  <div class="featured-image">
    <img [src]="post?.image" alt="{{ post?.title }}" />
    <h3>{{ post?.title }}</h3>
  </div>
  <div class="content">
    <div class="left">
      <div class="post-info">
        <span><b>Author:</b> {{ post?.author?.name }}</span>
        <span><b>Posted On:</b> {{ post?.publishedDate }} </span>
      </div>
      <div class="post-content">
        <p>
          {{ post?.content }}
        </p>
      </div>
    </div>
    <div class="right">
      <app-category-list-widget
        *ngIf="postCategories$ | async as categories"
        [postCategories]="categories"
      ></app-category-list-widget>

      <app-post-list-card
        *ngIf="relatedPosts$ | async as cards"
        [cards]="cards"
      ></app-post-list-card>
    </div>
  </div>
</div>
