<div class="post-card">
  <img
    class="post-card__image"
    src=".././../../../assets/images/banner.jpg"
    alt=""
  />
  <div class="body">
    <p class="category">Category</p>
    <div class="author-date">
      <span>Author: Lester</span>
      <span>Posted on: 09/01/2022</span>
    </div>
    <div class="content">
      <h4>Angular Tutorials</h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime vel
        velit magnam impedit error, tempora atque non quidem architecto, iste
        dolorem laboriosam delectus dolores. Odit fugiat fuga a cumque esse.
      </p>
    </div>
  </div>
</div>
