@import "../../../../styles.scss";

.footer {
  min-height: 70px;
  display: flex;
  align-items: center;
  color: $white;
  gap: 20px;
  background-color: $primary;
  padding: 15px;

  a {
    color: inherit;
  }
}
