@import "../../../styles.scss";

.home {
  .banner {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    h1 {
      color: $white;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: $secondary;
    }
  }
}
